{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1c4651;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}" style="color:rgba(255, 255, 255, 0.8); font-family: 'Catamaran', sans-serif;">
            <img src="{% static 'logoResized.png' %}" width="30" height="30" class="d-inline-block align-text-top">
            Bla Bla Trip
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list-trips' %}">Trips</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my-trips' %}">My Trips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add-trip' %}">Create Trip</a>
                </li>
                {% endif %}
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <span class="navbar-text" style="color: #4db0f3">Welcome, {{user.username}}!</span>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div> 
    </div>
</nav>